.slider .MuiSlider-thumb {
    display: none;
}

.slider .MuiSlider-track {
    color: white;
}

.slider:active .MuiSlider-thumb {
    color: green;
    display: flex;
    width: 10px;
    height: 10px;
    box-shadow: none;
}

.slider:hover .MuiSlider-thumb {
    color: green;
    display: flex;
    width: 10px;
    height: 10px;
    box-shadow: none;
}

.slider:hover .MuiSlider-track {
    color: white;
    display: flex;
}